<section id="contacts" class="footer__contacts-bar">
  <img
    src="img/pattern_blue-yellow-blue.png"
    alt=""
    class="footer__contacts-pattern"
    aria-hidden="true"
  />
  <div class="container footer__contacts-inner section__inner">
    <article class="footer__contact-item">
      <h3 class="heading">Phone Number</h3>
      <a href="tel:+12345678900">+1 (234) 567 89 00</a>
    </article>
    <article class="footer__contact-item">
      <h3 class="heading">Instagram</h3>
      <a href="#">instagram.com/m.barton</a>
    </article>
    <article class="footer__contact-item">
      <h3 class="heading">E-Mail</h3>
      <a href="mailto:m.barton@email.com">m.barton@email.com</a>
    </article>
  </div>
</section>
