<footer class="footer section section--dark section--pattern-dark">
  <div class="footer__bottom">
    <img
      src="img/pattern_blue-dark.png"
      alt="pattern"
      class="footer__bottom-inner-pattern"
      aria-hidden="true"
    />
    <div class="container footer__bottom-inner section__inner">
      <img
        class="footer__logo"
        src="img/main_logo_barton.svg"
        alt="Martin Barton logo"
      />
      <p class="footer__about">
        I'm, Martin Barton, illustrator, photographer, graphic and motion
        designer based mostly in New York. If you have a project to discuss,
        contact me in any convenient way.
      </p>

      <ul class="footer__nav">
        <li><a href="#what-i-do">What I do</a></li>
        <li><a href="#about-me">About me</a></li>
        <li><a href="#latest-projects">Projects</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#contacts">Contact me</a></li>
      </ul>

      <div class="footer__socials">
        <a href="#" aria-label="Facebook">
          <img src="img/fb.png" alt="Facebook" aria-hidden="true" />
        </a>
        <a href="#" aria-label="Instagram">
          <img src="img/it.png" alt="Instagram" aria-hidden="true" />
        </a>
        <a href="#" aria-label="YouTube">
          <img src="img/yt.png" alt="YouTube" aria-hidden="true" />
        </a>
      </div>

      <p class="footer__copyright">
        © Created by Martin Barton. All rights reserved.
      </p>
    </div>
  </div>
</footer>
